@import "tailwindcss";
@tailwind utilities;
@tailwind components;
@import "primereact/resources/themes/lara-light-green/theme.css";
@import "primereact/resources/primereact.min.css";
@import "primeicons/primeicons.css";
:root {
  --color-brand-background: #fbf8f0;
  --color-brand-green-dark: #3b663c;
  --color-brand-green-light: #6b7a60;
  --color-brand-text: #4a4a4a;
  --color-brand-button-bg: #6f7a6b;
}

body {
  background-color: #fff4e2;
  font-family: var(--font-josefin), sans-serif;
}

/* Dark mode (nếu muốn) */

@media (prefers-color-scheme: dark) {
  :root {
    --color-brand-background: #0a0a0a;
    --color-brand-green-dark: #6aa66a;
    --color-brand-green-light: #a4bba1;
    --color-brand-text: #ededed;
    --color-brand-button-bg: #666;
  }
}

.ticker {
  display: flex;
  animation: marquee 20s linear infinite;
}

@keyframes marquee {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.scrollbar-hide::-webkit-scrollbar {
  display: none !important;
}

.scrollbar-hide {
  scrollbar-width: none !important;
  /* Firefox */
}
