@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;500;600;700&display=swap");
@import "tailwindcss";
@tailwind utilities;
@tailwind components;
@import "primereact/resources/themes/lara-light-green/theme.css";
@import "primereact/resources/primereact.min.css";
@import "primeicons/primeicons.css";
:root {
  --color-brand-background: #fbf8f0;
  --color-brand-green-dark: #3b663c;
  --color-brand-green-light: #6b7a60;
  --color-brand-text: #4a4a4a;
  --color-brand-button-bg: #6f7a6b;
}

body {
  background-color: #fff9ef;
  font-family: var(--font-josefin), sans-serif;
}

/* Dark mode (nếu muốn) */

@media (prefers-color-scheme: dark) {
  :root {
    --color-brand-background: #0a0a0a;
    --color-brand-green-dark: #6aa66a;
    --color-brand-green-light: #a4bba1;
    --color-brand-text: #ededed;
    --color-brand-button-bg: #666;
  }
}

.ticker {
  display: flex;
  animation: marquee 20s linear infinite;
}

@keyframes marquee {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.scrollbar-hide::-webkit-scrollbar {
  display: none !important;
}

.scrollbar-hide {
  scrollbar-width: none !important;
  /* Firefox */
}

.font-text-content {
  font-family: "Josefin Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  line-height: 25px;
  text-align: justify;
}

.font-text-content-min {
  font-family: "Josefin Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-align: justify;
}

.button-content {
  background: #d9dac7;
  border: 1px solid #6f7a6b;
  border-radius: 10px;
  padding: 18px;
}

.button-text {
  font-family: "Josefin Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 22px;
  /* identical to box height */
  text-align: center;
  text-transform: uppercase;
  color: #6f7a6b;
}

.text-header {
  font-family: "Josefin Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 30px;
  /* identical to box height */
  color: #508d57;
}

.text-judson {
  font-family: "Judson";
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 40px;
  color: #ffffff;
}

.text-about {
  font-family: "Judson";
  font-style: normal;
  font-weight: 700;
  line-height: 76px;
  color: #508d57;
}

.title-work-shop {
  font-family: "Judson";
  font-style: normal;
  font-weight: 400;
  font-size: 34px;
  line-height: 46px;
  text-align: center;
  text-transform: capitalize;
  color: #424d3e;
}

.button-workshop {
  background: #6f7a6b;
  border-radius: 8px;
}

.text-workshop {
  font-family: "Josefin Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  /* identical to box height */
  text-align: center;
  color: #ffffff;
}

.heading-title {
  font-family: "Josefin Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 38px;
  line-height: 50px;
  color: #424d3e;
}

@media (max-width: 640px) {
  .font-text-content {
    font-size: 22px;
  }
  .text-about {
    line-height: 46px;
  }
}
